<h2>Example Tables</h2>

<form id="form1" action="/" method="post">
  <table id="table1">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <tr>
      <td><input id="r1_first" name="first[]" value="Mark" /></td>
      <td><input id="r1_last"  name="last[]"  value="Zuckerberg" /></td>
    </tr>
    <tr>
      <td><input id="r2_first" name="first[]" value="Bill" /></td>
      <td><input id="r2_last"  name="last[]"  value="Gates" /></td>
    </tr>
    <tr>
      <td><input id="r3_first" name="first[]" value="Steve" /></td>
      <td><input id="r3_last"  name="last[]"  value="Jobs" /></td>
    </tr>
  </table>
</form>
